aleph_alpha_client==7.0.0
gradio==4.17.0
lingua-language-detector==2.0.2
nlpaug==1.1.11
nltk==3.8.1
numpy==1.26.4
pydantic==2.6.1
pytest==8.0.0
python-dotenv==1.0.1
Requests==2.31.0
scipy==1.12.0
spacy==3.7.3
textdistance==4.6.1
# en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
# de_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/de_core_news_sm-3.7.0/de_core_news_sm-3.7.0-py3-none-any.whl